:export {
  spacersMap: #{$spacers};
}

:local(.nav-fixed-module) {
  [class$="buttons-module"] [class^="btn"] {
    margin-bottom: 0 !important;
  }
}

:local(.buttons-module) {
  display: inline-block;

  .btn {
    &:last-child {
      margin-right: 0 !important;
    }
  }
}

:local(.buttons-group-module) {
  &:last-child {
    margin-right: 0;
  }
}
