:export {
  spacersMap: #{$spacers};
  sizesMap: #{$sizes};
}

:local(.form-inline-module) {
  input, label, [class^="form"], [role="group"] {
    &:last-child {
      margin-right: 0 !important;
    }
  }
}

:local(.containment-module) {
  &[class*="px"] {
    .row {
      margin-left: 0 !important;
      margin-right: 0 !important;

      > .col {
        &:first-child { padding-left: 0 !important; }
        &:last-child { padding-right: 0 !important; }
      }
    }
  }
}

:local(.nav-fixed-module) {
  [class$="buttons-module"] [class^="btn"] {
    margin-bottom: 0 !important;
  }
}

:local(.buttons-module) {
  display: block;

  .btn {
    &:last-child {
      margin-right: 0 !important;
    }
  }
}

:local(.buttons-group-module) {
  &:last-child {
    margin-right: 0;
  }
}
