// From global styles directory in ./src.
@import 'colors';

h1 {
  text-align: center;
}

// This will be camel case in the component.
.welcome-message {
  color: $color-main;

  // Elements can be nested but nested classes do not work.
  span {
    color: green;
  }
}
